#main-header {
  padding: .5rem;
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
  background: var(--bg-active);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 499px) {
  #main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
  }
}

#main-header .title-brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header .title-brand .logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
}

#main-header .title-brand .blob {
  background: black;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-black {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#main-header .title-brand .blob.white {
  background: white;
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  -webkit-animation: pulse-white 2s infinite;
          animation: pulse-white 2s infinite;
}

@-webkit-keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

#main-header .title-brand .blob.red {
  background: #ff5252;
  -webkit-box-shadow: 0 0 0 0 #ff5252;
          box-shadow: 0 0 0 0 #ff5252;
  -webkit-animation: pulse-red 2s infinite;
          animation: pulse-red 2s infinite;
}

@-webkit-keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

#main-header .title-brand .blob.orange {
  background: #ff793f;
  -webkit-box-shadow: 0 0 0 0 #ff793f;
          box-shadow: 0 0 0 0 #ff793f;
  -webkit-animation: pulse-orange 2s infinite;
          animation: pulse-orange 2s infinite;
}

@-webkit-keyframes pulse-orange {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

@keyframes pulse-orange {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

#main-header .title-brand .blob.yellow {
  background: #ffb142;
  -webkit-box-shadow: 0 0 0 0 #ffb142;
          box-shadow: 0 0 0 0 #ffb142;
  -webkit-animation: pulse-yellow 2s infinite;
          animation: pulse-yellow 2s infinite;
}

@-webkit-keyframes pulse-yellow {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

#main-header .title-brand .blob.blue {
  background: #34ace0;
  -webkit-box-shadow: 0 0 0 0 #34ace0;
          box-shadow: 0 0 0 0 #34ace0;
  -webkit-animation: pulse-blue 2s infinite;
          animation: pulse-blue 2s infinite;
}

@-webkit-keyframes pulse-blue {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

@keyframes pulse-blue {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
            box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

#main-header .title-brand .blob.green {
  background: #33d9b2;
  -webkit-box-shadow: 0 0 0 0 #33d9b2;
          box-shadow: 0 0 0 0 #33d9b2;
  -webkit-animation: pulse-green 2s infinite;
          animation: pulse-green 2s infinite;
}

@-webkit-keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

@keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

#main-header .title-brand .blob.purple {
  background: #8e44ad;
  -webkit-box-shadow: 0 0 0 0 #8e44ad;
          box-shadow: 0 0 0 0 #8e44ad;
  -webkit-animation: pulse-purple 2s infinite;
          animation: pulse-purple 2s infinite;
}

@-webkit-keyframes pulse-purple {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

@keyframes pulse-purple {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}
/*# sourceMappingURL=styles.css.map */