#main-header {
  padding: 0.5rem;
  margin-bottom: 1rem;
  height: 60px;
  width: 100%;
  background: var(--bg-active);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#main-header * {
  display: flex;
}
@media (max-width: 320px) {
  #main-header {
    flex-direction: column;
    height: 120px;
  }
}
#main-header .title-brand {
  align-items: center;
}
#main-header .title-brand .logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
}
#main-header .title-brand .blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 black;
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
#main-header .title-brand .blob.white {
  background: white;
  box-shadow: 0 0 0 0 white;
  animation: pulse-white 2s infinite;
}
@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
#main-header .title-brand .blob.red {
  background: #ff5252;
  box-shadow: 0 0 0 0 #ff5252;
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
#main-header .title-brand .blob.orange {
  background: #ff793f;
  box-shadow: 0 0 0 0 #ff793f;
  animation: pulse-orange 2s infinite;
}
@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}
#main-header .title-brand .blob.yellow {
  background: #ffb142;
  box-shadow: 0 0 0 0 #ffb142;
  animation: pulse-yellow 2s infinite;
}
@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}
#main-header .title-brand .blob.blue {
  background: #34ace0;
  box-shadow: 0 0 0 0 #34ace0;
  animation: pulse-blue 2s infinite;
}
@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
#main-header .title-brand .blob.green {
  background: #33d9b2;
  box-shadow: 0 0 0 0 #33d9b2;
  animation: pulse-green 2s infinite;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
#main-header .title-brand .blob.purple {
  background: #8e44ad;
  box-shadow: 0 0 0 0 #8e44ad;
  animation: pulse-purple 2s infinite;
}
@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
