@import "../../include-media";

$background: var(--bg-active);
$hover-border: var(--color-tests);
$top-border-colors: (
  t1: var(--color-new-cases),
  t2: var(--color-death),
  t3: var(--color-new-recoveries),
  t4: var(--color-tests),
  t5: var(--color-critical),
);

.global-article {
  margin: 20px auto 20px;
  @include media('>phone'){padding: 0 20px;}
  @include card-border-radius();
  width: 100%;
  font-weight: 800;

  .cases {
    display: flex;
    flex-wrap: wrap;
    @include media('<=phone'){
      flex-direction: column;
    }
    div {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .global-data-title {
      border: 3px solid $background;
      @each $class, $color in $top-border-colors {
        &.#{$class} {
          border-top: 1rem solid $color;
        }
      }
      @include card-hover($hover-border, 0);
      margin: .5rem .3rem;
      @include media('>phone'){
        margin: 1rem;
      }
      border-radius: 0.5rem;
      background: $background;
      font-size: 1.5rem;
      @include media("<=phone") {
        font-size: 1rem;
      }
    }
    .global-data-numbers {
      font-size: 3rem;
      @include media("<=phone") {
        font-size: 1.7rem;
      }
      font-weight: 800;
    }
  }
}
