@import "../../include-media";

$background: var(--bg-active);
$hover-border: var(--color-hover);
$top-border-colors: (
  top-color-1: var(--color-new-cases),
  top-color-2: var(--color-new-deaths),
  top-color-3: var(--color-new-recoveries),
  top-color-4: var(--color-tests),
  top-color-5: var(--color-critical),
);

.global-article {
  // @include media(">phone") {
  //   padding: 0 20px;
  // }
  @include card-border-radius();
  width: 100%;
  font-weight: 800;

  .cases {
    display: flex;
    flex-wrap: wrap;
    @include media("<=phone") {
      flex-direction: column;
    }
    div {
      min-width: 23rem;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .global-data-title {
      border: 3px solid $background;
      @each $class, $color in $top-border-colors {
        &.#{$class} {
          border-top: 1rem solid $color;
        }
      }
      margin: 1rem;
      @include media("<=phone") {
        margin: 0.5rem 0.3rem;
      }
      border-radius: 0.5rem;
      background-color: $background;
      font-size: 1.5rem;
      @include media("<=phone") {
        font-size: 1rem;
      }
      @include card-hover($hover-border, 0);
      @include card-shadow;
    }
    .global-data-numbers {
      font-size: 3rem;
      @include media("<=phone") {
        font-size: 1.7rem;
      }
      font-weight: 800;
    }
  }
}
