@import '../../include-media';

$background: var(--bg-active);
$hover-border: var(--color-tests);

.pais-article {
  margin: 20px auto 20px;
  padding: 20px;
  @include card-border-radius;
  background: $background;
  font-weight: 800;
  font-size: 18px;
  border: 3px solid $background;
  @include card-hover($hover-border);

  .cases {
    display: flex;
    flex-wrap: wrap;
    div {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .bandeira {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: x-large;
    align-items: center;
    img {
      height: 48px;
      border-radius: 20%;
    }
  }
}
