.pais-article {
    margin: 20px auto 0;
    background: #29344a;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.2s;
    font-weight: 800;
    font-size: 18px;
}

.pais-article:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.bandeira {
    border-radius: 40%;
    width: 100%;
    height: 64px;
}

.bandeira-img {
    border-radius: 10px;
    width: 67px;
}

.unstyled-link {
    color: var(--dark)!important;
    text-decoration: none!important;
}

.cases{ display:flex; color: white }
.cases div{
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-align: center;
}