:root {
    --background: #161e2c;
    
    --main-text: #eee;

    --color-cases: #0ee9cb;
    
    --color-death: #f35353;
    
    --color-recovered: #347fd5;
    
    --color-active: #ffc137;
    
    --color-new-case: #ff8a37;
    
    --color-new-death: #af1c1c;
    
    --color-new-recoveries: #2a8e3c;

    --color-tests: #6bfb31;
    
    --color-critical: #dc3b1f;
    
    --color-affected: #da8213;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', -apple-system, Helvetica, sans-serif;
    font-weight: 600;
    background: var(--background)!important;
    color: var(--main-text);
    overflow-x: hidden!important;
}

a {
    color: var(--main-text) !important;
    text-decoration: none !important;
}

.notification {
    box-shadow: none!important;
}

.title-components {
    font-weight: 800!important;
    font-size: 55px;
}

.color-cases {
    color: var(--color-cases);
}

.color-death {
    color: var(--color-death);
}

.color-recovered {
    color: var(--color-recovered);
}

.color-active {
    color: var(--color-active);
}

.color-new-case {
    color: var(--color-new-case);
}

.color-new-death{
    color: var(--color-new-death);
}

.color-new-recoveries{
    color: var(--color-new-recoveries);
}

.color-tests{
    color: var(--color-tests);
}

.color-critical{
    color: var(--color-critical);
}

.color-affected{
    color: var(--color-affected);
}