/* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2c3442; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-header); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-active); 
  }

body {
    background: var(--background)!important;
}


:root {
    --background: #161e2c;
    
    --bg-header: #222c45;
    
    --bg-active: #29344a;
}