* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif; */
    background: #161e2c!important;
    color: #333;
    overflow-x: hidden!important;
}

.notification {
    box-shadow: none!important;
}

.title-components {
    font-weight: 800!important;
    font-size: 55px;
}

.color-cases {
    color: #0ee9cb;
}

.color-death {
    color: #f35353;
}

.color-recovered {
    color: #347fd5;
}

.color-active {
    color: #ffc137;
}

.color-new-case {
    color: #ff8a37;
}

.color-new-death{
    color: #af1c1c;
}